@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.05);
}

.shade {
  mask-image: linear-gradient(#fff, #fff, hsla(0, 0%, 100%, 0));
  display: -webkit-box !important;
  text-overflow: ellipsis "[...]";
  -webkit-line-clamp: 5;
  overflow: hidden;
  -webkit-box-orient: vertical;
}